*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    padding-top: 1em; 
    padding-bottom: 3em;
}


header {
    padding-bottom: 1em;
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2b2828;
}

li{
    display: inline-block;
}

li a{
    display: block;
    padding: 0.7em 0.8em;
    text-decoration: none;
    color: #f5ebeb;
}

li a:hover{
    background-color: #111;
    font-weight: bold;
}

h2 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #302828;
    font-size: 2em;
    font-weight: bold;
}

canvas{
    display: block;
    margin: 0 auto;
    width: 80%;
}

#selectWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#selectWrapper select{
    margin: 0.1em;
    width: 20%;
}

#myBarChart{
    padding-bottom: 1em;
}

p{
    text-align: center;
    font-size: 1.2em;
    color: #302828;
    padding: 0.5em;
    margin: 0 auto;
}
footer {
    text-align: center;
    padding: 1em 0 ;
    background-color: #2b2828;
    color: #f5ebeb;
    width: 100%;
    position: fixed;
    bottom: 0;
}

select{
    display: block;
    width: 20%;
    padding: 0.5em;
    margin: 1em auto;
    font-size: 1.2em;
    color: #252222;
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
}
